body {
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-around;
}
form div {
  display: flex;
  justify-content: space-around;
}
h3 {
  text-align: center;
}
li {
  list-style: none;
}

