.navMainClass {
  font-family: system-ui;
  background-color: #E4EFE7;
}
.navLink{
  color: #064420 !important;
  font-size: 1.2em !important;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-right: 5em;
}
.logoImg {
  margin-left: -110em;
  margin-bottom: -3em;
  width: 7%;
}